.tabGroup {
}

.tabHeader {
}

.tabCount {
}

.tabActions {
}

.tabList {
}

.tab {
}

.tabFavicon {
  height: 16px;
  width: 16px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  margin-right: 16px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

#menu > span {
  cursor: pointer;
}
